/*width*/
.w-105 {
    width: 104px;
}

.w-283 {
    width: 281px;
}

.w-210 {
    width: 210px;
}

.w-80 {
    width: 80px;
}

.w-95 {
    width: 95px;
}

/*background color*/
.bg-light-green {
    background-color: #DEF5DC;
}

.bg-light-pink {
    background-color: #F5D0E7;
}

/*margin*/
.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-2 {
    margin-top: 2px !important;
}

.mt-60 {
    margin-top: 60px;
}

.mx-auto {
    margin: 0 auto;
}

/*padding*/
.pl-10 {
    padding-left: 10px !important;
}

.py-17{
    padding-top: 17px;
    padding-bottom: 17px;
}

.pl-28{
    padding-left: 28px;
}

/*font weight*/
.font-400 {
    font-weight: 400;
}

.font-700 {
    font-weight: 700;
}

.font-500 {
    font-weight: 500;
}

/*font-size*/
.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

/*line height*/
.line-h-16 {
    line-height: 16px;
}

.line-h-14 {
    line-height: 14px;
}

.line-h-21 {
    line-height: 21px;
}

/*another atomic css*/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}



