.w-105 {
    width: 104px;
}

.w-283 {
    width: 281px;
}

.bg-light-green {
    background-color: #DEF5DC;
}

.bg-light-pink {
    background-color: #F5D0E7;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-2 {
    margin-top: 2px !important;
}

.mt-60{
    margin-top: 60px;
}

.w-210{
    width: 210px;
}

.mx-auto{
    margin: 0 auto;
}


.form-group input {
    padding: 14px 15px 13px !important;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


/*custom form-bootstrap-4*/

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid #CED4DA;
}

.form-group textarea {
    padding: 14px 15px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

label {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 30px;
}

.btn {
    width: 100%;
    margin-top: 20px;
}

.tk-btn {
    background-color: #3B89CF;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    padding: 13px 0 12px;
}

