* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
    color: currentColor;
}

:root {
    --tk-color: #4B545C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

h2 {
    font-weight: 700;
    color: #151515;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-weight: 700;
    font-size: 20px;
}

p {
    margin: 0;
}


/*wrapper*/

.wrapper {
    display: flex;
}


/*header*/


/* 
.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
} */

.header--user a {
    color: var(--tk-color);
    font-weight: 500;
}

.header--border {
    width: 1px;
    height: 27px;
    background-color: #DEE2E6;
}


/*sidebar*/

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343A40;
}

.sidebar--header {
    color: #ffffff;
    font-weight: 700;
    /*font-size: 22px;*/
    font-size: 20px;
    padding: 23px 35px 18px 10px;
    border-bottom: 1px solid #4B545C;
}

.sidebar--list {
    padding: 25px 10px 0 10px;
}

.sidebar--item {
    background-color: #494f55;
    padding: 10px 0 13px 16px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #babfc8;
    border-radius: 3px;
    display: block;
}

.sidebar--item:hover {
    color: #ffffff;
}

.active {
    color: #ffffff;
}


/*main*/

.main {
    width: calc(100% - 250px);
}

.page {
    background-color: #E8EDF4;
    padding: 40px 30px 33px;
}

.content {
    background-color: #ffffff;
    padding: 60px 30px;
}

.tk-search {
    padding: 20px 0 25px;
    text-align: center;
}


/*table*/

.general {
    margin-top: 60px;
}

.tk-table {
    font-size: 14px;
    color: var(--tk-color);
}

.tk-table tr,
.tk-table td {
    border: 1px solid #999999;
    padding: 12px 0;
}

.tk-title {
    font-weight: 700;
    background-color: #D0DFF5;
    text-align: center;
    width: 62px;
}

.tk-date {
    background-color: #E8EDF4;
    width: 49px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}

.tk-day {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}

.tk-data {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.tk-general {
    color: #ffffff;
    background-color: #3B89CF;
    font-size: 15px;
    text-align: center;
}

.tk-data-general {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    padding: 26px 0;
}

.extra-color {
    /*background-color: #DEF5DC;*/
}


/*sign*/

.bg-orange {
    background-color: #F79646;
    width: 24px;
    height: 16px;
}

.dropdown {
    position: relative;
    margin: 15px 0;
    width: 150px;
    height: 50px;
}

.dropdown::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before {
    top: 22px;
    transform: rotate(-225deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
}

.dropdown .options {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown.active .options {
    display: block;
}

.dropdown .options div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .options div:hover {
    background: #62baea;
    color: #fff;
}

.options .items:hover {
    background-color: white;
}