* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
    color: currentColor;
}

:root {
    --tk-color: #4B545C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

h2 {
    font-weight: 700;
    color: #151515;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

p {
    margin: 0;
}

/*main*/

.main {
    width: calc(100% - 250px);
}

.page {
    background-color: #E8EDF4;

    /*layout app.css*/
    padding: 44px 30px 33px;
}

.content {
    background-color: #ffffff;
    padding: 60px 30px;
}

.tk-search {
    padding: 20px 0 25px;
    text-align: center;
}


/*table*/
.general {
    margin-top: 60px;
}

.tk-table {
    font-size: 14px;
    color: var(--tk-color);
}

.tk-table tr, .tk-table td {
    border: 1px solid #999999;
    padding: 12px 0;
}

.tk-title {
    font-weight: 700;
    background-color: #D0DFF5;
    text-align: center;
    width: 62px;
    font-size: 14px;
    line-height: 16px;
}

.tk-date {
    background-color: #E8EDF4;
    width: 49px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}

.tk-day {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.tk-data {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.tk-general {
    color: #ffffff;
    background-color: #3B89CF;
    font-size: 15px;
    text-align: center;
}

.tk-data-general td {
    text-align: center;
    font-size: 14px;
    padding: 26px 0;
}

/*sign*/

.bg-orange {
    background-color: #F79646;
    width: 24px;
    height: 16px;
}

.general--sign p {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

/*tk-search*/
.tk-search-btn {
    width: 114px;
}

.tk-select {
    width: 100%;
    padding: 10px 10px 11px;
    border: 1px solid #CED4DA;
    border-radius: 3px;
    color: #333333;
    font-weight: 500;
    /*-webkit-appearance: none; !*icon select default*!*/
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 7px) center !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

}

.tk-select:focus {
    outline: none;
}

/*form*/

.dropdown .options div:hover {
    background: #62baea;
    color: #fff;
}

.options .items:hover {
    background-color: white;
}

.tk-label {
    font-size: 16px;
    font-weight: 500;
    color: #1F232E;
}

.tk-btn {
    background-color: #3B89CF;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    padding: 13px 0 12px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}

.tk-btn-overtime {
}

/*icon input form*/

input[type="datetime-local"]::-webkit-calendar-picker-indicator, input[type="date"]::-webkit-calendar-picker-indicator {
    padding: 11px 18px 15px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #CED4DA;
    border-radius: 0 3px 3px 0;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
}

#select-level select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    height: -webkit-fill-available;
    padding: 14px 15px 13px;
    font-size: 16px;
    line-height: 19px;
}

#select-level select:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #CED4DA;
}

.tk-icon {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #F4F6F9;
    height: 46px;
    width: 57px;
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #CED4DA;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    color: #4B545C;
}

/*change layout*/
.tk-pt-41 {
    padding-top: 41px;
    background-color: #E8EDF4;
}

.tk-px-30 {
    /*padding: 0 30px;*/
    padding: 0 31px;
    background-color: #f4f6f9;
}

.tk-content {
    padding: 60px 30px;
    background-color: #FFFFFF;
}
